.main_container{
	background-image: url("despicable-me.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

.second_container{
	background-image: url("stealMoon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	height: 100%;
}

.third_container{
	background-image: url("vector.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

.fourth_container{
	background-image: url("gruMoon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

.fifth_container{
	background-image: url("princessGru.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

.glow{
	font-size: 70px;
	color: yellow;
	text-align: center;
	margin-top: 15%;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.cheeseArrow{
    width: 25%;
    transform : rotate(180deg);
}

.cheeseArrow:hover {
    cursor: pointer;
}
